@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

body.day {
  background-image: url("background.jpg");
  -webkit-animation: rainbow 120s ease infinite;
  animation: rainbow 60s ease infinite;
  color:white;
  font-family: 'Dosis', sans-serif;
}

body.night {
  background-image: url("night.gif");
  background-size: cover; /* Asegura que el fondo cubra toda la pantalla */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen en la página */
  color: white;
  font-family: 'Dosis', sans-serif;
}


  a{
    color:rgb(61, 77, 221);
  }

  #time {
    font-style: italic;
  }

  .selected {
  border: 2px solid #36ee08; /* Borde cuando el botón está seleccionado */
}

#acnhmusicon , #acnlmusicon , #wwcfmusicon {
  margin-bottom: 30px;
  }

#acnlmusicon {
  background-color: rgb(31, 141, 10);
  }

  #wwcfmusicon {
    background-color: rgb(9, 138, 37);
    }

  @-webkit-keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }
  @keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }

  .video-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: 0; 
    overflow: hidden; 
} 
.video-container iframe, .video-container object, .video-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

