@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

body {
    background-image: url("background.jpg");
    -webkit-animation: rainbow 120s ease infinite;
    animation: rainbow 120s ease infinite;
    color:white;
    font-family: 'Dosis', sans-serif;
  }

  @-webkit-keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }
  @keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }

  iframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}